fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
asyncpg==0.30.0
aiosqlite==0.21.0
alembic==1.16.4
pydantic==2.13.5
email-validator==2.3.0
pydantic-settings==2.15.0
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20

httpx==0.28.1
boto3==1.40.18

celery==5.5.3
redis==6.4.0

razorpay==1.4.2
pillow>=11.3.0